@model SHEL.Models.ViewModel.EditCatalogoViewModel

@{
    ViewBag.Title = "Mantenimiento de Maestro de Catalogos ";
}

<h2>@ViewBag.Title</h2>

<div class="alert aler-@ViewBag.alerta"></div>


<div>
    <form name="Editar"></form>
    @using (Html.BeginForm("Editar", "Catalogo", FormMethod.Post, new { role = "form", @class = "" }))
    {
        @Html.HiddenFor(d => d.Registro_id)

        @Html.AntiForgeryToken()
        @Html.ValidationMessage("error", new { @class = "text-danger" })

        @Html.LabelFor(d => d.Catalogo)
        @Html.TextBoxFor(d => d.Catalogo, new { @class = "form-control" })
        @Html.ValidationMessage("Catalogo", new { @class = "text-ddanger" })<br />


        <button class="btn btn-success" type="submit" name="btngrabar" id="btngrabar">
            <span class="glyphicon glyphicon-save">Guardar</span>
        </button>

    }

    @if (TempData["msg"] != null)
    {
        @Html.Raw(TempData["msg"])
    }
</div>