<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sistema Hospitalario</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.dataTables.js"></script>

</head>
<body style="background:-webkit-linear-gradient(90deg, lightgray 25%, lightstellblue 75%)">
    <header style="background-color: darkblue   ; color:white;text-align:center">
        <br /><h3>Sistema Hospitalario</h3><br />
    </header>

    <nav class="row" style="background-color: gray; height:35px;margin: 1px 1px 1px 1px">
        <div class="btn-group">
            <button class="btn btn-primary" onclick="location.href = '/Parametros/Index'">Parámetros Generales</button>
            <button class="btn btn-primary" onclick="location.href = '/Registro/Catalogo'">Catálogos</button>
            <button class="btn btn-primary" onclick="location.href = '/Registro/Permiso'">Permisos</button>
            <button class="btn btn-primary" onclick="location.href = '/Registro/Calendario'">Calendario</button>
            <button class="btn btn-primary" onclick="location.href = '/Registro/Persona'">Personas</button>
            <button class="btn btn-primary" onclick="location.href = '/Registro/Cita'">Citas</button>
            <button class="btn btn-primary" onclick="location.href = '/Visualizar/Auditoria'">Auditoria</button>
            <button class="btn btn-primary" onclick="location.href = '/Acceso/Cerrar'">Cerrar Sesión</button>
            
        </div>
    </nav>
    <main class="row" style="margin: 2% 2% 2% 2%; background-color:beige; width:96%">
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer style="background-color: darkblue; color:white; text-align:center">
        <br /><small>Todos los derechos reservados 2022 -      German Camacho B.</small><br />
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
